.Container {
    
}
.TimelineDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 10px;
    margin-bottom: 3px;
}
.TimelineDetailsLabel {
    font-size: var(--font-size-tiny);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(0,0,0,.5);
}
.TimelineDetailsTimer {
    font-family: 'Source Code Pro', monospace;
    font-size: var(--font-size-medium);
    font-weight: 100;
    line-height: 1;
    color: rgba(0,0,0,.7);
}
.TimelineStrip {
    width: 100%;
    height: 5rem;
    padding: 2px;
    border-radius: var(--border-radius);
    background-color: white;
    border: 1px solid #e0e9f3;
    display: flex;
}

.IntervalSection {
    height: 100%;
    border-radius: var(--border-radius);
    border: 2px solid white;
    opacity: .6;
}